{% extends "layouts/layout_detail.html" %}

{% from "macros/link.html" import link %}

{% block content %}
<section class="grid grid-cols-1 gap-y-5 pb-10 mx-auto w-10/12">
    <h1 class="my-10 text-5xl text-primary">{{ this.title_section }}</h1>
    <article class="flex flex-col gap-5 mb-5 text-xl">
        {{ this.description }}
        <figure class="w-11/12 lg:w-6/12">
            <img src="{{ '/static/images/venue/mar-de-vigo.jpg'|asseturl }}" alt="Auditorio Mar de Vigo" class="rounded-lg">
        </figure>
    </article>
    <section class="flex flex-col gap-3">
        <a href="#organizacion-conferencia">
          <h2 id="organizacion-conferencia" class="mt-10 mb-6 text-3xl text-primary">{{ this.conference_arrangement }}</h2>
        </a>
        {% for section in this.children %}
          <article class="text-xl">
              <h3 class="mb-3 text-2xl font-bold text-secondary">{{ section.title }}</h3>
              {{ section.description }}
          </article>
          {% for image in section.attachments %}
            <figure class="w-11/12 lg:w-6/12">
              <img src="{{ image.path|url }}" alt="Auditorio Mar de Vigo" class="rounded-lg">
            </figure>
          {% endfor %}
        {% endfor %}
    </section>
    <section>
        <a href="#mas-informacion">
          <h2 id="mas-informacion" class="mt-10 mb-6 text-3xl text-primary">{{ _("Más información") }}</h2>
        </a>
        <ul class="mt-2 ml-8 list-disc">
            <li>{{ _("El Auditorio Palacio de Congresos Mar de Vigo se encuentra a unos 15 minutos en coche desde el Aeropuerto de Peinador.")}}</li>
            <li>{{ _("El Aeropuerto de Peinador dispone de parada de taxis. El importe de la carrera desde el aeropuerto al Palacio de Congresos / Vigo Centro es fija y ronda los 21 €.")}}</li>
            <li>{{ _("El Aeropuerto de Peinador dispone de una parada de Autobús por la que circula la linea C9A, que cuenta con una parada muy cercana al Palacio de Congresos. Más informacion en:")}}
                <ul class="ml-8 list-disc">
                    <li>{{ link("https://moovitapp.com/", "App Moovit") }}</li>
                    <li>{{ link("https://datos.vigo.org/es/app-vigo/?doing_wp_cron=1713912592.2706019878387451171875",
                        "App oficial de la ciudad de Vigo") }}</li>
                    <li>{{ link("https://vitrasa.es/php/index.php", "Web Vitrasa") }}</li>
                </ul>
            </li>
            <li>{{ _("El Palacio de Congresos dispone de Servicio de Parking. (Consulte tarifas por minuto)") }}</li>
            <li>
              {% trans trimmed venue_link=link("https://auditoriomardevigo.com/localizacion/", _("Web oficial auditorio")) %}
                Más informacion en: {{ venue_link }}.
              {% endtrans %}
            </li>
        </ul>
    </section>
</section>
{% endblock content %}
