{% macro carousel(images) %}
<section id="default-carousel" class="flex justify-center" data-carousel="slide">
    <button type="button"
    class="relative left-16 z-30 px-4 cursor-pointer focus:outline-none group"
    data-carousel-prev>
    <span class="inline-flex justify-center items-center w-10 h-10 bg-white rounded-full group-focus:outline-none">
        <svg class="w-4 h-4 text-primary rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M5 1 1 5l4 4" />
        </svg>
        <span class="sr-only">{{ _("Anterior") }}</span>
    </span>
    </button>
    {% for image in images %}
    <figure data-carousel-item class="{% if loop.index == 1 %}block{% else %}hidden{% endif %}">
        <img id="carousel-image-{{ loop.index }}" src="{{ image.path|url }}" alt="...">
    </figure>
    {% endfor %}
    <button type="button" class="relative right-16 z-30 px-4 cursor-pointer focus:outline-none group"
        data-carousel-next>
        <span class="inline-flex justify-center items-center w-10 h-10 bg-white rounded-full group-focus:outline-none">
            <svg class="w-4 h-4 text-primary rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m1 9 4-4-4-4" />
            </svg>
            <span class="sr-only">{{ _("Siguiente") }}</span>
        </span>
    </button>
</section>
<script>
    class Carousel {
        currentPosition = 0

        constructor(images) {
            this.images = images
        }

        previous() {
            this.images[this.currentPosition].classList.replace("block", "hidden")
            this.currentPosition = (--this.currentPosition > 0) ? this.currentPosition : (this.images.length - 1)
            this.images[this.currentPosition].classList.replace("hidden", "block")
        }

        next() {
            this.images[this.currentPosition].classList.replace("block", "hidden")
            this.currentPosition = (++this.currentPosition < this.images.length) ? this.currentPosition : 0
            this.images[this.currentPosition].classList.replace("hidden", "block")
        }

    }
    document.addEventListener('DOMContentLoaded', function () {
        let carousel = new Carousel(document.querySelectorAll('[data-carousel-item]'))
        document.querySelector('[data-carousel-prev]').onclick = carousel.previous.bind(carousel)
        document.querySelector('[data-carousel-next]').onclick = carousel.next.bind(carousel)
    });
</script>
{% endmacro %}
