{% macro faq_item(title, description, secondary_description="") %}
    <details class="mb-5 pl-8 md:pl-12 open:py-2 open:pb-6 pr-4 border-l-[2px] border-primary open:bg-[#F2F5F7]">
        <summary class="pt-2 mb-4 text-2xl text-primary">{{ title }}</summary>
        <p class="ml-5 text-base text-secondary">{{ description }}</p>
        {% if secondary_description %}
          <p class="mt-3 ml-5 text-base text-secondary">{{ secondary_description }}</p>
        {% endif %}
    </details>
{% endmacro %}
