{% from "macros/link.html" import link %}

{% macro render_logo_sponsors(label_level, level, logos, icon_level=None) %}
  <article class="flex flex-col gap-y-3 justify-around mx-auto mt-16 xl:flex-row">
      <section class="flex gap-2 items-center w-full lg:w-2/12 text-secondary leading-[-12px]">
        {% if icon_level %}
          <img src="{{ icon_level|asseturl }}" alt="{{ label_level }} {{ level}}">
        {% endif %}
        <div>
          {% if label_level %}<p class="text-sm"> {{ label_level }}</p>{% endif %}
          <p
            {% if icon_level %}
              class="-mt-2 text-2xl text-primary"
            {% else %}
              class="-mt-2 text-2xl"
            {% endif %}
          >
            {{ level }}
          </p>
        </div>
      </section>
      <section class="grid grid-cols-1 gap-14 justify-items-center items-center p-8 w-full bg-white border-l-2 md:grid-cols-2 lg:w-10/12 xl:flex xl:flex-row xl:flex-wrap xl:gap-x-14 border-primary">
        {% for link, image_webp_logo, image_logo, alt_logo, icon_size in logos %}
          <a href="{{ link }}" target="_blank" class="hover:opacity-60">
            <figure class="{{ icon_size }} mx-auto">
              <picture>
                {% if image_webp_logo %}
                  <source srcset="{{ image_webp_logo|asseturl }}" type="image/webp">
                {% endif %}
                <img src="{{ image_logo|asseturl }}" alt="{{ alt_logo }}" class="object-scale-down">
              </picture>
            </figure>
          </a>
        {% endfor %}
      </section>
  </article>
{% endmacro %}
