{% from "macros/link.html" import link %}

{% macro render_logo_sponsors(label_level, level, logos, icon_level=None) %}
  <article class="flex flex-col gap-y-3 justify-around mx-auto mt-16 w-11/12 md:w-9/12 xl:flex-row">
      <section class="flex gap-2 items-center w-full lg:w-2/12 text-secondary leading-[-12px]">
        {% if icon_level %}
          <img src="{{ icon_level|asseturl }}" alt="{{ label_level }} {{ level}}">
        {% endif %}
        <div>
          {% if label_level %}<p class="text-sm"> {{ label_level }}</p>{% endif %}
          <p
            {% if icon_level %}
              class="-mt-2 text-2xl text-primary"
            {% else %}
              class="-mt-2 text-2xl"
            {% endif %}
          >
            {{ level }}
          </p>
        </div>
      </section>
      <section class="grid grid-cols-1 gap-14 justify-items-center items-center p-3 w-full bg-white border-l-2 md:grid-cols-2 md:justify-items-start lg:grid-cols-8 lg:gap-x-14 lg:w-10/12 border-primary">
        {% for link, image_logo, alt_logo, icon_size in logos %}
          <a href="{{ link }}" target="_blank" class="col-span-1 hover:grayscale">
            <figure class="{{ icon_size }} mx-auto">
              <img src="{{ image_logo|asseturl }}" alt="{{ alt_logo }}" class="object-scale-down">
            </figure>
          </a>
        {% endfor %}
        {% if not logos %}
          <p class="col-span-full">
            {% trans trimmed sponsors_link=link('/patrocinios'|url, "patrocinios", target="") %}
              ¿Quieres que tu logo aparezca aquí? Sé uno de nuestros patrocinadores. Consulta los detalles en {{ sponsors_link }}.
            {% endtrans %}
          </p>
        {% endif %}
      </section>
  </article>
{% endmacro %}
