{% extends "layouts/layout_detail.html" %}

{% block content %}
<div class="grid-cols-5 mx-auto w-10/12">
    <h1 class="mt-12 mb-12 text-5xl text-primary">{{ _("Diversidad y becas") }}</h1>
    <section class="grid grid-cols-1 gap-8 w-full md:w-8/12 text-secondary">
        <p class="text-2xl">
            {{ _("En PyConES 2024, nos comprometemos a promover la diversidad e inclusión en nuestra "
            "conferencia. Creemos firmemente en la importancia de crear un entorno inclusivo y respetuoso que fomente "
            "la participación de todas las personas, sin importar su raza, etnia, género, edad, habilidades, religión "
            "u orientación sexual. También nos preocupamos por brindar un entorno inclusivo para aquellos que tienen "
            "responsabilidades parentales.") }}
        </p>
        <div class="flex gap-5 my-12">
            <a href="{{ this.url_scholarship }}" target="_blank" class="py-2 px-8 font-bold text-white bg-primary">{{
                _("Solicitar beca")
                }}</a>
            <a href="{{ this.url_diversity }}" target="_blank" class="py-2 px-8 font-bold text-white bg-primary">
                {{ _("Solicitar entrada diversidad") }}</a>
        </div>
        <p class="text-lg">
            {{ _("Para garantizar la diversidad en nuestra conferencia, hemos implementado diversas iniciativas, "
            "algunas de las cuales incluyen:") }}
        </p>
        <article class="text-lg">
            <h3 class="mb-4 text-2xl font-bold">{{ _("Entradas de diversidad") }}</h3>
            <p class="mt-5">
                {% trans trimmed url=this.url_diversity %}
                    Se otorgan a través de un proceso de solicitud activo hasta el 30 de junio:
                    <a href="{{ url }}" target="_blank" class="font-bold underline text-primary">
                        ¡Quiero solicitar una entrada de diversidad!
                    </a>
                {% endtrans %}
            </p>
        </article>
        <article class="text-lg">
            <h3 class="mb-4 text-2xl font-bold">{{ _("Becas") }}</h3>
            <p>
                {{ _("Con las becas, tenemos el objetivo de eliminar las barreras económicas, facilitando la "
                "participación de aquellos que podrían enfrentar dificultades financieras para asistir al evento.")
                }}
            </p>
            <p class="mt-5">
                {% trans trimmed url=this.url_scholarship %}
                    Se otorgan a través de un proceso de solicitud activo hasta el 30 de junio:
                    <a href="{{ url }}" target="_blank" class="font-bold underline text-primary">
                        ¡Quiero solicitar una beca!
                    </a>
                {% endtrans %}
            </p>
        </article>
        <article class="text-lg">
            <h3 class="mb-4 text-2xl font-bold">{{ _("Código de conducta") }}</h3>
            <p>
                {{ _("Contamos con un Código de Conducta para garantizar un ambiente respetuoso y seguro para todas "
                "las personas asistentes. Pueden consultarlo en el siguiente enlace: ")}}
                <a href="{{ '/codigo-conducta'|url }}" class="font-bold underline text-primary">
                    {{ _("Código de Conducta.") }}
                </a>
            </p>
        </article>
        <p class="text-lg">
            {{ _("Desde el equipo Organizador: Python Vigo, Python España y personas voluntarias de PyConES24, "
            "secundamos el manifiesto de la PSF[¹] y valoramos la diversidad en todas sus formas creyendo "
            " firmemente que la inclusión de diferentes perspectivas enriquece nuestra comunidad y mejora "
            "nuestro campo. Seguiremos esforzándonos por promover la diversidad y garantizar que todas las "
            "personas se sientan bienvenidas y representadas en nuestra conferencia.") }}
        </p>
        <div class="flex gap-5 my-12">
            <a href="{{ this.url_scholarship }}" target="_blank" class="py-2 px-8 font-bold text-white bg-primary">{{
                _("Solicitar beca")
                }}</a>
            <a href="{{ this.url_diversity }}" target="_blank" class="py-2 px-8 font-bold text-white bg-primary">
                {{ _("Solicitar entrada diversidad") }}</a>
        </div>
        <blockquote class="my-5 text-xs">
            [¹] The Python Software Foundation and the global Python community welcome and encourage participation by everyone. Our community is based on mutual respect, tolerance, and encouragement, and we are working to help each other live up to these principles. We want our community to be more diverse: whoever you are, and whatever your background, we welcome you. The PSF
        </blockquote>
    </section>
</div>
{% endblock %}
