<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Página web de la PyConES 2024 en Vigo, Galicia. La conferencia de Python más importante de España.">
    <meta name="viewport" content="width=device-width" />
    <title>PyConES 2024 Vigo {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ '/static/style.css'|url }}" >
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/static/favicon/favicon.ico'|asseturl }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ '/static/favicon/android-chrome-192x192.png'|asseturl }}">
    <link rel="icon" type="image/png" sizes="512x512" href="{{ '/static/favicon/android-chrome-512x512.png'|asseturl }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/static/favicon/apple-touch-icon.png'|asseturl }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/static/favicon/favicon-32x32.png'|asseturl }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/static/favicon/favicon-16x16.png'|asseturl }}">
    <link rel="manifest" href="{{ '/static/favicon/site.webmanifest'|asseturl }}">
    <meta name="google-site-verification" content="ggr-BOSKTnIjcxjkkreUx5oqxBWojqS-iDhnE8ovQAk" />
  </head>
  <body >
    {% include "components/header.html" %}
    <main>
      {% block body %}{% endblock %}
      <figure class="-z-20">
        <img src="{{ '/static/images/trisquel-down.png'|asseturl }}" alt="Trisquel" class="fixed right-0 -bottom-0 w-48 md:w-72 lg:bottom-0 lg:w-6/12 xl:w-4/12 xs:w-50 -z-20">
      </figure>
    </main>
  </body>
</html>
