<!doctype html>
<html lang="{{ this.alt }}">
  <head>
    <meta charset="utf-8">
    <meta name="description"
      {% if this.alt == "en" %}
        content="Website of PyConES 2024 in Vigo, Galicia. The most important Python conference in Spain."
      {% elif this.alt == "gl" %}
        content="Páxina web da PyConES 2024 en Vigo, Galicia. A conferencia de Python máis importante de España."
      {% else %}
        content="Página web de la PyConES 2024 en Vigo, Galicia. La conferencia de Python más importante de España."
      {% endif %}
    >
    <meta name="viewport" content="width=device-width" />
    <title>PyConES 2024 Vigo {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ '/static/style.css'|url }}" >
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/static/favicon/favicon.ico'|asseturl }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ '/static/favicon/android-chrome-192x192.png'|asseturl }}">
    <link rel="icon" type="image/png" sizes="512x512" href="{{ '/static/favicon/android-chrome-512x512.png'|asseturl }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/static/favicon/apple-touch-icon.png'|asseturl }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/static/favicon/favicon-32x32.png'|asseturl }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/static/favicon/favicon-16x16.png'|asseturl }}">
    <link rel="manifest" href="{{ '/static/favicon/site.webmanifest'|asseturl }}">
    <meta name="google-site-verification" content="ggr-BOSKTnIjcxjkkreUx5oqxBWojqS-iDhnE8ovQAk" />
  </head>
  <body >
    {% include "components/header.html" %}
    <main>
      {% block body %}{% endblock %}
    </main>
    {% include "components/footer.html" %}
  </body>
</html>
