{% extends "layout.html" %}

{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <header class="mt-0 bg-secondary">
    {% include "components/header.html" %}
  </header>
  <section class="border-white md:hidden border-b-[1px] bg-secondary">
    <a href="https://pretix.eu/python-spain/" class="block py-2 px-6 mx-24 mt-10 mb-5 text-2xl font-bold text-center text-white bg-transparent border-2 hover:bg-white py-1ml-auto hover:text-primary">
        {{ _("Entradas") }}
    </a>
  </section>
  <nav class="flex-grow pt-10 pb-96 text-white bg-secondary">
      <ul class="flex flex-col gap-10 mx-auto w-11/12 text-5xl text-center">
        <li class="pb-1 hover:border-b-2">
            <a href="{{ '/'|url }}">{{ _("Inicio") }}</a>
        </li>
        <li class="pb-1 hover:border-b-2">
            <a href="{{ '/cfp/'|url }}">{{ _("Convocatoría de propuestas (CFP)") }}</a>
        </li>
        <li class="pb-1 hover:border-b-2">
            <a href="{{ '/patrocinios/'|url }}">{{ _("Patrocinios") }}</a>
        </li>
        <li class="pb-1 hover:border-b-2">
            <a href="{{ '/diversidad-becas/'|url }}">{{ _("Diversidad y becas") }}</a>
        </li>
        <li class="pb-1 hover:border-b-2">
            <a href="{{ '/viaje/'|url }}">{{ _("Viaje") }}</a>
        </li>
        <li class="pb-1 hover:border-b-2">
            <a href="{{ '/ciudad/'|url }}">{{ _("Ciudad") }}</a>
        </li>
        <li class="pb-1 hover:border-b-2">
            <a href="{{ '/ofertas-trabajo/'|url }}">{{ _("Ofertas de trabajo") }}</a>
        </li>
        <li class="pb-1 hover:border-b-2">
            <a href="{{ '/lugar/'|url }}">{{ _("Lugar") }}</a>
        </li>
        <li class="pb-1 hover:border-b-2">
            <a href="{{ '/faq/'|url }}">{{ _("FAQ") }}</a>
        </li>
      </ul>
  </nav>
{% endblock %}
