{% extends "layout.html" %}

{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <section class="mx-auto w-11/12 lg:ml-24 lg:w-[534px] xl:ml-[276px]">
    <p class="mb-12 text-6xl text-center lg:text-left text-secondary">{{ this.dates_event }}</p>
    <h1 class="mb-4 text-4xl text-left sm:text-6xl lg:mb-7 lg:text-4xl text-primary">{{ this.hero_text }}</h1>
    <p class="text-lg sm:text-4xl lg:text-xl text-secondary">{{ this.description_text }}</p>
  </section>
  <figure class="-z-20">
    <img src="{{ '/static/images/trisquel-down.png'|asseturl }}" alt="Trisquel" class="fixed right-0 -bottom-0 w-1/5 sm:w-40 md:w-72 lg:bottom-0 lg:w-6/12 xl:w-4/12 min-[380px]:w-48 -z-20 2xl:w-50">
  </figure>
{% endblock %}
