{% extends "layout.html" %}

{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <header class="mt-0 bg-primary">
    {% include "components/header.html" %}
  </header>
  <main class="pb-0">
    <section class="relative pt-10 text-white h-[800px] bg-primary">
      <div class="mx-auto w-11/12 lg:ml-24 lg:w-[534px] xl:ml-[276px]">
        <h1 class="mb-4 text-4xl text-left sm:text-6xl lg:mb-7 lg:text-4xl">{{ this.hero_text }}</h1>
        <p class="mb-12 text-5xl text-center lg:text-left">{{ this.dates_event }}</p>
        <p class="text-lg sm:text-4xl lg:text-xl">{{ this.description_text }}</p>
      </div>
      <div class="pl-4 my-10 mx-auto w-11/12 border-l-4 border-white lg:ml-24 lg:w-[534px] xl:ml-[276px]">
        <p class="mb-4">{{ this.sponsors_text }}</p>
        <a href="{{ '/patrocinios'|url }}" class="inline-block py-3 px-6 font-bold bg-white rounded border-2 hover:text-white text-primary bg-secondary hover:bg-primary">{{ this.sponsors_button_text }}</a>
      </div>
      <img src="{{ '/static/images/trisquel-down.png'|asseturl }}" alt="Trisquel" class="absolute right-0 -bottom-0 w-1/5 sm:w-40 md:w-72 lg:bottom-0 lg:w-6/12 xl:w-4/12 min-[380px]:w-48 2xl:w-[600px]">
    </section>
    {% include "components/event_schedule_section.html" %}
    {% include "components/sponsors_section.html" %}
  </main>
{% endblock %}
