{% extends "layout.html" %}

{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<section class="grid grid-flow-row gap-y-8 pb-10 mx-auto w-10/12">
    <article class="text-lg">
<div>
    <h1 class="mb-3 text-5xl" style="color: #E30613">Patrocinios</h1>
</div>

<div class="container mx-auto px-4">
    <table class="table-auto w-full mt-5 border border-white">
        <thead class="text-white">
            <tr style="background-color: #E30613; opacity: 0.5;" class="border-white">
                <th class="pl-10 px-4 py-2 bg-white"></th>
                <th class="py-2" colspan="4">Niveles</th>
            </tr>
            <tr style="background-color: #E30613" class="border-white">
                <th class="border border-white pl-10 px-6 py-5 text-left">Beneficios</th>
                <th class="border border-white px-6 py-5">Cíes</th>
                <th class="border border-white px-6 py-5">Ons</th>
                <th class="border border-white px-6 py-5">Sálvora</th>
                <th class="border border-white px-6 py-5">Cortegada</th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white">
                <td class="border border-black pl-10 px-4 py-2 font-bold" style="color: #E30613">Precio</td>
                <td class="border border-black px-4 py-2 text-center">6.500 €</td>
                <td class="border border-black px-4 py-2 text-center">4.750 €</td>
                <td class="border border-black px-4 py-2 text-center">3.200 €</td>
                <td class="border border-black px-4 py-2 text-center">1.000 €</td>
            </tr>
            <tr class="bg-white">
                <td class="border border-black pl-10 px-4 py-2 font-bold" style="color: #E30613">Entradas incluídas</td>
                <td class="border border-black px-4 py-2 text-center">6(+2)</td>
                <td class="border border-black px-4 py-2 text-center">3(+1)</td>
                <td class="border border-black px-4 py-2 text-center">2</td>
                <td class="border border-black px-4 py-2 text-center">1</td>
            </tr>
            <tr class="bg-white">
                <td class="border border-black pl-10 px-4 py-2 font-bold" style="color: #E30613">Logo en web</td>
                <td class="border border-black px-4 py-2 text-center"><i class="fa-solid fa-check font-bold" style="color: #1AB723"></i></td>
                <td class="border border-black px-4 py-2 text-center"><i class="fa-solid fa-check font-bold" style="color: #1AB723"></i></td>
                <td class="border border-black px-4 py-2 text-center"><i class="fa-solid fa-check font-bold" style="color: #1AB723"></i></td>
                <td class="border border-black px-4 py-2 text-center"><i class="fa-solid fa-check font-bold" style="color: #1AB723"></i></td>
            </tr>
            <tr class="bg-white">
                <td class="border border-black pl-10 px-4 py-2 font-bold" style="color: #E30613">Obsequio en welcome pack</td>
                <td class="border border-black px-4 py-2 text-center"><i class="fa-solid fa-check font-bold" style="color: #1AB723"></i></td>
                <td class="border border-black px-4 py-2 text-center"><i class="fa-solid fa-check font-bold" style="color: #1AB723"></i></td>
                <td class="border border-black px-4 py-2 text-center"><i class="fa-solid fa-check font-bold" style="color: #1AB723"></i></td>
                <td class="border border-black px-4 py-2 text-center"><i class="fa-solid fa-check font-bold" style="color: #1AB723"></i></td>
            </tr>
            <tr class="bg-white">
                <td class="border border-black pl-10 px-4 py-2 font-bold" style="color: #E30613">Folleto en welcome pack</td>
                <td class="border border-black px-4 py-2 text-center"><i class="fa-solid fa-check font-bold" style="color: #1AB723"></i></td>
                <td class="border border-black px-4 py-2 text-center"><i class="fa-solid fa-check font-bold" style="color: #1AB723"></i></td>
                <td class="border border-black px-4 py-2 text-center"><i class="fa-solid fa-xmark font-bold" style="color: #E30613"></i></td>
                <td class="border border-black px-4 py-2 text-center"><i class="fa-solid fa-xmark font-bold" style="color: #E30613"></i></td>
            </tr>
            <tr class="bg-white">
                <td class="border border-black pl-10 px-4 py-2 font-bold" style="color: #E30613">Stand</td>
                <td class="border border-black px-4 py-2 text-center">2,4 m x 3,2 m</td>
                <td class="border border-black px-4 py-2 text-center">1,2 m x 2,00 m</td>
                <td class="border border-black px-4 py-2 text-center">1,2 m x 2,00 m</td>
                <td class="border border-black px-4 py-2 text-center"><i class="fa-solid fa-xmark font-bold" style="color: #E30613"></i></td>
            </tr>
            <tr class="bg-white">
                <td class="border border-black pl-10 px-4 py-2 font-bold" style="color: #E30613">Folleto en welcome pack</td>
                <td class="border border-black px-4 py-2 text-center"><i class="fa-solid fa-check font-bold" style="color: #1AB723"></i></td>
                <td class="border border-black px-4 py-2 text-center"><i class="fa-solid fa-check font-bold" style="color: #1AB723"></i></td>
                <td class="border border-black px-4 py-2 text-center"><i class="fa-solid fa-xmark font-bold" style="color: #E30613"></i></td>
                <td class="border border-black px-4 py-2 text-center"><i class="fa-solid fa-xmark font-bold" style="color: #E30613"></i></td>
            </tr>
        </tbody>
    </table>
</div>
    </article>
    </section>
{% endblock %}