{% from "macros/load_icon.html" import load_icon %}
{% from "macros/carousel.html" import carousel %}

{% extends "layout.html" %}

{% block extra_script %}
  <script src="https://challenges.cloudflare.com/turnstile/v0/api.js?render=explicit"></script>
{% endblock extra_script %}

{% block main_content %}

<section class="grid grid-cols-1 gap-y-5 pb-10 mx-auto w-10/12">
    <h1 class="my-10 text-5xl text-primary" style="color: #E30613">{{ _("Patrocinios") }}</h1>
    <article class="text-lg">
            <div class="">
                <p class="text-xl leading-8 text-gray-700">
                    {{ _("¿Te gustaría patrocinar la próxima edición del evento mas importante sobre desarrollo software con Python? No lo dudes y ponte ya mismo en contacto con la organización escribiendo al correo" ) }} <a href="mailto:sponsors@2024.es.pycon.org" class="text-primary hover:text-secondary">sponsors@2024.es.pycon.org</a>
                    {% trans trimmed%}
                        o desde el <a href="#contacto-patrocinio" class="text-primary hover:text-secondary">formulario de contacto</a>.
                    {% endtrans %}
                    {{ _("Para conocer todas las ventajas que te ofrecen nuestros distintos niveles de patrocinio puedes descargar el folleto informativo:") }}
                </p>
            </div>
            <div class="grid grid-cols-1 gap-4 content-center my-5 mb-10 md:grid-cols-2">
                <a href="{{ _("/static/dossier/2024ES - Dossier - PyConES Vigo - Patrocinadores.pdf") | asseturl }}" target="_blank" class="py-1 px-4 font-semibold text-center text-red-600 border border-red-200 hover:text-white hover:bg-red-600 hover:border-transparent focus:ring-2 focus:ring-purple-600 focus:ring-offset-2 focus:outline-none">
                    {{ _("Descargar dosier completo (ES)") }}
                </a>
                <a href="{{ _('/static/dossier/2024ES - Dossier - PyConES Vigo - Patrocinadores - resumido.pdf') |asseturl }}" target="_blank" class="py-1 px-4 font-semibold text-center text-red-600 border border-red-200 hover:text-white hover:bg-red-600 hover:border-transparent focus:ring-2 focus:ring-purple-600 focus:ring-offset-2 focus:outline-none">
                    {{ _("Descargar dosier resumido (ES)") }}
                </a>
            </div>
            {{ carousel(this.attachments) }}
            <div class="overflow-x-auto relative">
              <table class="mt-5 w-full border border-white table-auto">
                  <thead class="text-white">
                      <tr style="background-color: #E30613; opacity: 0.5;" class="border-white">
                          <th class="py-2 px-4 pl-10 bg-white"></th>
                          <th class="py-2" colspan="4">{{ _("Niveles") }}<sup class="text-white">(1)</sup></th>
                      </tr>
                      <tr style="background-color: #E30613" class="border-white">
                          <th class="py-5 px-6 pl-10 text-left border border-white">{{ _("Beneficios") }}</th>
                          <th class="py-5 px-6 border border-white">Cíes</th>
                          <th class="py-5 px-6 border border-white">Ons</th>
                          <th class="py-5 px-6 border border-white">Sálvora</th>
                          <th class="py-5 px-6 border border-white">Cortegada</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr class="bg-white">
                          <td class="py-2 px-4 pl-10 font-bold border border-black" style="color: #E30613">{{ _("Precio") }}</td>
                          <td class="py-2 px-4 text-center border border-black">6.500 €</td>
                          <td class="py-2 px-4 text-center border border-black">4.750 €</td>
                          <td class="py-2 px-4 text-center border border-black">3.200 €</td>
                          <td class="py-2 px-4 text-center border border-black">1.000 €</td>
                      </tr>
                      <tr class="bg-white">
                          <td class="py-2 px-4 pl-10 font-bold border border-black" style="color: #E30613">{{ _("Entradas incluídas") }}<sup>(2)</sup></td>
                          <td class="py-2 px-4 text-center border border-black">6(+2)</td>
                          <td class="py-2 px-4 text-center border border-black">3(+1)</td>
                          <td class="py-2 px-4 text-center border border-black">2</td>
                          <td class="py-2 px-4 text-center border border-black">1</td>
                      </tr>
                      <tr class="bg-white">
                          <td class="py-2 px-4 pl-10 font-bold border border-black" style="color: #E30613">{{ _("Logo en web") }}</td>
                          <td class="py-2 px-4 border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                      </tr>
                      <tr class="bg-white">
                          <td class="py-2 px-4 pl-10 font-bold border border-black" style="color: #E30613">{{ _("Obsequio en welcome pack") }}</td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                      </tr>
                      <tr class="bg-white">
                          <td class="py-2 px-4 pl-10 font-bold border border-black" style="color: #E30613">{{ _("Folleto en welcome pack") }}</td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/x-circle.svg", "w-5", "fill-red-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/x-circle.svg", "w-5", "fill-red-500") }}
                              </div>
                          </td>
                      </tr>
                      <tr class="bg-white">
                          <td class="py-2 px-4 pl-10 font-bold border border-black" style="color: #E30613">{{ _("Stand") }}<sup>(3)</sup></td>
                          <td class="py-2 px-4 text-center border border-black">2,4 m x 3,2 m</td>
                          <td class="py-2 px-4 text-center border border-black">1,2 m x 2,00 m</td>
                          <td class="py-2 px-4 text-center border border-black">1,2 m x 2,00 m</td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/x-circle.svg", "w-5", "fill-red-500") }}
                              </div>
                          </td>
                      </tr>
                      <tr cl1ass="bg-white">
                          <td class="py-2 px-4 pl-10 font-bold border border-black" style="color: #E30613">{{ _("Add-ons") }}</td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                      </tr>
                      <tr cl1ass="bg-white">
                          <td class="py-2 px-4 pl-10 font-bold border border-black" style="color: #E30613">{{ _("Logo cartelería") }}</td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/x-circle.svg", "w-5", "fill-red-500") }}
                              </div>
                          </td>
                      </tr>
                      <tr cl1ass="bg-white">
                          <td class="py-2 px-4 pl-10 font-bold border border-black" style="color: #E30613">{{ _("Logo en pausas") }}</td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/x-circle.svg", "w-5", "fill-red-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/x-circle.svg", "w-5", "fill-red-500") }}
                              </div>
                          </td>
                      </tr>
                      <tr cl1ass="bg-white">
                          <td class="py-2 px-4 pl-10 font-bold border border-black" style="color: #E30613">{{ _("Publicación en redes sociales") }}</td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                      </tr>
                      <tr cl1ass="bg-white">
                          <td class="py-2 px-4 pl-10 font-bold border border-black" style="color: #E30613">{{ _("Ofertas de trabajo") }}</td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/x-circle.svg", "w-5", "fill-red-500") }}
                              </div>
                          </td>
                      </tr>
                      <tr cl1ass="bg-white">
                          <td class="py-2 px-4 pl-10 font-bold border border-black" style="color: #E30613">{{ _("Logo newsletter") }}<sup>(4)</sup></td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/x-circle.svg", "w-5", "fill-red-500") }}
                              </div>
                          </td>
                      </tr>
                      <tr cl1ass="bg-white">
                          <td class="py-2 px-4 pl-10 font-bold border border-black" style="color: #E30613">{{ _("Charla patrocinada") }}</td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/x-circle.svg", "w-5", "fill-red-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/x-circle.svg", "w-5", "fill-red-500") }}
                              </div>
                          </td>
                      </tr>
                      <tr cl1ass="bg-white">
                          <td class="py-2 px-4 pl-10 font-bold border border-black" style="color: #E30613">{{ _("Agradecimiento en vivo") }}</td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/x-circle.svg", "w-5", "fill-red-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/x-circle.svg", "w-5", "fill-red-500") }}
                              </div>
                          </td>
                      </tr>
                      <tr cl1ass="bg-white">
                          <td class="py-2 px-4 pl-10 font-bold border border-black" style="color: #E30613">{{ _("Anuncio en programa") }}</td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/x-circle.svg", "w-5", "fill-red-500") }}
                              </div>
                          </td>
                      </tr>
                      <tr cl1ass="bg-white">
                          <td class="py-2 px-4 pl-10 font-bold border border-black" style="color: #E30613">{{ _("Nota de prensa") }}<sup>(4)</sup></td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/x-circle.svg", "w-5", "fill-red-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/x-circle.svg", "w-5", "fill-red-500") }}
                              </div>
                          </td>
                      </tr>
                      <tr cl1ass="bg-white">
                          <td class="py-2 px-4 pl-10 font-bold border border-black" style="color: #E30613">{{ _("Taller patrocinado") }}</td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/x-circle.svg", "w-5", "fill-red-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/x-circle.svg", "w-5", "fill-red-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/x-circle.svg", "w-5", "fill-red-500") }}
                              </div>
                          </td>
                      </tr>
                      <tr cl1ass="bg-white">
                          <td class="py-2 px-4 pl-10 font-bold border border-black" style="color: #E30613">{{ _("Sesión de contratación") }}</td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/check-circle.svg", "w-5", "fill-green-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/x-circle.svg", "w-5", "fill-red-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/x-circle.svg", "w-5", "fill-red-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/x-circle.svg", "w-5", "fill-red-500") }}
                              </div>
                          </td>
                      </tr>
                      <tr cl1ass="bg-white">
                          <td class="py-2 px-4 pl-10 font-bold border border-black" style="color: #E30613">{{ _("Video promocional") }}</td>
                          <td class="py-2 px-4 text-center border border-black">{{ _("2 veces al día") }}</td>
                          <td class="py-2 px-4 text-center border border-black">{{ _("1 vez en el fin de semana") }}</td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/x-circle.svg", "w-5", "fill-red-500") }}
                              </div>
                          </td>
                          <td class="py-2 px-4 text-center border border-black">
                              <div style="display: flex; justify-content: center;">
                                  {{ load_icon("icons/x-circle.svg", "w-5", "fill-red-500") }}
                              </div>
                          </td>
                      </tr>
                  </tbody>
              </table>
            </div>
            <div>
                <ul class="px-5 pt-10">
                <li><sup>(1)</sup><span class="pl-5">{{ _("La cantidad de patrocinios es limitada (excepto de nivel Cortegada). La organización se reserva el derecho de modificar dicha cantidad a conveniencia, siempre velando por los intereses de la conferencia.") }}</span> </li>
                <li><sup>(2)</sup><span class="pl-4"><strong>Cíes</strong>: {{ _("2 entradas, una por la charla patrocinada y otra por el taller patrocinado. Las entradas solo se otorgan si se imparten la charla y el taller, respectivamente.") }}<span>
                <p><span class="pl-8"><strong>Ons</strong>: {{ _("1 entrada por la charla patrocinada. La entrada solo se otorga si se imparte la charla.") }}</span></p></li>
                <li><sup>(3)</sup><span class="pl-4">{{ _("Las medidas del stand son orientativas.") }}</span></li>
                <li><sup>(4)</sup><span class="pl-4">{{ _("Aparición en soportes físicos impresos supeditada a la producción de los mismos.") }}</span></li>
                </ul>
            </div>
    </article>
</section>

<section class="grid grid-cols-1 gap-y-8 pb-10 mx-auto w-10/12">
    <article class="text-lg">
<div>
    <h1 class="mb-3 text-5xl" style="color: #E30613">Add-ons</h1>
</div>
<div class="overflow-x-auto relative">
  <table class="mt-5 w-full border border-white table-auto">
      <thead class="text-white">
          <tr style="background-color: #E30613" class="border-white">
              <th class="py-5 px-6 pl-10 text-left border border-white">Add-on</th>
              <th class="py-5 px-6 text-left border border-white">{{ _("Descripción") }}</th>
              <th class="py-5 px-6 border border-white">{{ _("Precio") }}</th>
              <th class="py-5 px-6 border border-white">{{ _("Cantidad") }}</th>
          </tr>
      </thead>
      <tbody>
          <tr class="bg-white">
              <td class="py-2 px-4 pl-10 w-28 font-bold border border-black" style="color: #E30613">{{ _("Nombre de sala") }}</td>
              <td class="py-2 px-4 w-48 border border-black">{{ _("Una sala tiene tu nombre. Aparecerá así en todos los folletos, documentos y avisos. Además, podrás colocar roll-ups dentro de la sala durante todo el fin de semana.") }}</td>
              <td class="py-2 px-4 w-28 text-center border border-black">1.000 €</td>
              <td class="py-2 px-4 w-28 text-center border border-black">0 / 4</td>
          </tr>
          <tr class="bg-white">
              <td class="py-2 px-4 pl-10 w-28 font-bold border border-black" style="color: #E30613">Coffee Breaks</td>
              <td class="py-2 px-4 w-48 border border-black">{{ _("Durante todos las paradas de café que se hagan, ¡tendremos información tuya! Habrán desde roll-ups y mensajes de agradecimiento hasta aquello en lo que tú, como empresa, quieras participar: servilletas con logotipo, vasos, etc") }}</td>
              <td class="py-2 px-4 w-28 text-center border border-black">1.000 €</td>
              <td class="py-2 px-4 w-28 text-center border border-black">{{ _("1 sábado / 1 domingo") }}</td>
          </tr>
          <tr class="bg-white">
              <td class="py-2 px-4 pl-10 w-28 font-bold border border-black" style="color: #E30613">{{ _("Patrocinio de streaming") }}</td>
              <td class="py-2 px-4 w-48 border border-black">{{ _("¿Viste lo chulos que quedaron los vídeos del año pasado? Ahora imagínate que aparezca tu logo mientras se está en directo… A que mola, ¿eh?") }}</td>
              <td class="py-2 px-4 w-28 text-center border border-black">500 €</td>
              <td class="py-2 px-4 w-28 text-center border border-black">1 / 3</td>
          </tr>
          <tr class="bg-white">
              <td class="py-2 px-4 pl-10 w-28 font-bold border border-black" style="color: #E30613">{{ _("Patrocinio de becas") }}</td>
              <td class="py-2 px-4 w-48 border border-black">{{ _("¡Ayúdanos a financiar viajes para que todavía más gente pueda asistir a la PyConES! Por cada beca otorgada, se te mencionará de manera especial tanto durante el evento como en los mensajes que se intercambien con las personas becadas.") }}</td>
              <td class="py-2 px-4 w-28 text-center border border-black">300 €</td>
              <td class="py-2 px-4 w-28 text-center border border-black">0 / 7</td>
          </tr>
          <tr class="bg-white">
              <td class="py-2 px-4 pl-10 w-28 font-bold border border-black" style="color: #E30613">{{ _("Ludoteca") }}<sup>(1)</sup></td>
              <td class="py-2 px-4 w-48 border border-black">{{ _("¡Cada vez vienen más peques al evento! Construimos un espacio en donde estén cómodos y dispongan de toda la atención necesaria. ¡Ayúdanos a conseguirlo!") }}</td>
              <td class="py-2 px-4 w-28 text-center border border-black">500 €</td>
              <td class="py-2 px-4 w-28 text-center border border-black">0 / 1</td>
          </tr>
          <tr class="bg-primary/15">
              <td class="py-2 px-4 pl-10 w-28 font-bold border border-black" style="color: #E30613">{{ _("Sala de lactancia") }}</td>
              <td class="py-2 px-4 w-48 border border-black">{{ _("Porque no nos olvidamos de todas las mamis que asisten al evento, y seguro que tú tampoco. ¡Ayúdanos a construir un entorno inclusivo con todo lo necesario para que se sientan cómodas!") }}</td>
              <td class="py-2 px-4 w-28 text-center border border-black">500 €</td>
              <td class="py-2 px-4 w-28 font-semibold text-center border border-black text-primary">1 / 1</td>
          </tr>
          <tr class="bg-primary/15">
              <td class="py-2 px-4 pl-10 w-28 font-bold border border-black" style="color: #E30613">Hackathon</td>
              <td class="py-2 px-4 w-48 border border-black">{{ _("¡Tú pones la idea, nosotros los premios! ¿Te encantan los retos técnicos? ¿Eres una empresa que busca aprender mientras la gente se lo pasa bien y hace equipo? Patrocina la hackathon de este año y colabora con tu idea y tecnología. La organización se encargará de hacer difusión, buscar gente y regalos.") }}</td>
              <td class="py-2 px-4 w-28 text-center border border-black">1000 €</td>
              <td class="py-2 px-4 w-28 font-semibold text-center border border-black text-primary">1 / 1</td>
          </tr>
          <tr class="bg-white">
              <td class="py-2 px-4 pl-10 w-28 font-bold border border-black" style="color: #E30613">{{ _("Taller Django Girls") }}</td>
              <td class="py-2 px-4 w-48 border border-black">{{ _("¡Colabora con este taller masivo con participantes de toda índole! Gana una gran visibilidad con tus roll-ups y un agradecimiento personalizado.") }}</td>
              <td class="py-2 px-4 w-28 text-center border border-black">1500 €</td>
              <td class="py-2 px-4 w-28 text-center border border-black">1 / 2</td>
          </tr>
          <tr class="bg-white">
              <td class="py-2 px-4 pl-10 w-28 font-bold border border-black" style="color: #E30613">{{ _("Concierto") }}</td>
              <td class="py-2 px-4 w-48 border border-black">{{ _("¿Te gusta la música? ¡A nosotros nos encanta! Sé el patrocinador que nos brinde un concierto. Sitúa tus roll-ups en el meollo cuando todo el mundo esté participando.") }}</td>
              <td class="py-2 px-4 w-28 text-center border border-black">500 €</td>
              <td class="py-2 px-4 w-28 text-center border border-black">0 / 1</td>
          </tr>
      </tbody>
      </table>
</div>
    <div>
        <ul class="px-5 pt-10">
        <li><sup>(1)</sup><span class="pl-5">{{ _("Ludoteca sujeta a disponibilidad - si hay una empresa que quiera colaborar directamente proveyendo del material necesario para montar la ludoteca, tendrá preferencia.") }}</span></li>
        <li><sup>(2)</sup><span class="pl-4">{{ _("El logotipo aparecerá junto a los logos de la asociación y de la comunidad que organizan. Es posible que, en las entradas empresariales, no aparezca tu logotipo.") }}<span></li>
        </ul>
    </div>
</article>
<article class="my-3">
    <h4 id="contacto-patrocinio" class="text-4xl text-primary">{{ _("Tu patrocinio") }}</h4>
    {% include "components/form_sponsors.html" %}
</article>
</section>
{% endblock main_content %}

{% block scripts %}
{% endblock %}
