{% extends "layout.html" %}

{% block extra_script %}
  <script type="text/javascript" src="https://pretalx.com/pycones-2024/schedule/widget/v2.en.js"></script>
{% endblock extra_script %}

{% block main_content %}
    <section class="gap-y-5 pb-10">
      <div class="flex flex-col gap-9 justify-between items-center my-10 md:flex-row">
        <h1 class="px-5 text-5xl text-primary">{{ _("Programa") }}</h1>
        <div class="p-2 mx-5 font-bold bg-blue-100 border-l-4 text-secondary text-md border-secondary w-fit">
          {{ _("El programa no es definitivo. Podría sufrir algunas modificaciones.") }}
        </div>
      </div>
      <article class="px-5 pt-14">
        <pretalx-schedule event-url="https://pretalx.com/pycones-2024/" locale="en"></pretalx-schedule>
        <noscript>
           <div class="pretalx-widget">
                <div class="pretalx-widget-info-message">
                    JavaScript is disabled in your browser. To access our schedule without JavaScript,
                    please <a target="_blank" href="https://pretalx.com/pycones-2024/schedule/">click here</a>.
                </div>
            </div>
        </noscript>
      </article>
    </section>
{% endblock main_content %}
