{% from "macros/schedule_tag.html" import render_schedule_tag %}


<section>
    <header>
        <img src="{{ '/static/images/header-event-schedule-image.jpg'|asseturl }}" alt="Vigo PF" class="w-full">
    </header>
    <article class="mx-auto mt-20 mb-20 w-11/12 md:w-full">
        <h2 class="text-5xl text-center text-primary">{{ _("Cronograma del evento") }}</h2>
        <p class="mt-6 text-xl text-center text-secondary">
            {{
            _("A continuación podrás ver algunos de los hitos más importantes de la conferencia. En caso de que la "
            "fecha exacta no esté disponible, se confirmará el cambio lo antes posible.")
            }}
        </p>
        <section class="flex flex-col gap-12 justify-center items-center mx-auto mt-5 md:flex-row">
            <figure class="w-11/12 md:w-10/12 xl:w-[534px]">
                <img src="{{ '/static/images/cronograma.png'|asseturl }}" alt="Trisquel">
            </figure>
            <ol class="relative w-10/12 h-full border-secondary border-s xl:w-[534px]">
                {{ render_schedule_tag(
                    _("Presentamos la PyConES"),
                    _("Marzo")
                ) }}
                {{ render_schedule_tag(
                    _("Apertura para el envió de ponencias/charlas"),
                    _("Abril")
                ) }}
                {{ render_schedule_tag(
                    _("Apertura para la venta de entradas"),
                    _("Mayo")
                ) }}
                {{ render_schedule_tag(
                    _("Cierre del llamado a ponencias/charlas"),
                    _("Mayo")
                ) }}
                {{ render_schedule_tag(
                    _("Apertura para la postulación de becas"),
                    _("Junio")
                ) }}
                 {{ render_schedule_tag(
                    _("¡Empieza el espectáculo!"),
                    _("Octubre"),
                    "text-primary"
                ) }}
            </ol>
        </section>
    </article>
</section>
