{% from "macros/logo.html" import render_logo %}

<figure class="flex justify-center mt-4 mb-4 lg:justify-start lg:ml-24 xl:ml-36">
  {{ render_logo('white') }}
</figure>

<a href="https://pretix.eu/python-spain/" class="flex justify-center items-center mt-4 ml-auto w-28 h-10 text-lg font-bold text-white bg-transparent rounded border-2 hover:bg-white bg-primary hover:text-primary">
    {{ _("Entradas") }}
</a>

<button class="flex justify-center items-center mt-4 mr-12 ml-4 h-10 text-lg">
    <img src="/static/images/ham-icon.svg" alt="Menu" />
</button>
