{% from "macros/logo.html" import render_logo %}

<nav class="flex justify-center items-center py-4 mx-auto w-11/12 md:justify-around">
  <a href="{{ '/'|url }}" class="cursor-pointer">
    <figure>
      {{ render_logo('white') }}
    </figure>
  </a>

  <div class="flex gap-x-10 items-center">
    <a href="{{ '/'|url }}" class="hidden text-lg font-bold text-white lg:block hover:underline">
      {{ _("Inicio") }}
    </a>
    <a href="{{ '/c4p/'|url }}" class="hidden text-lg font-bold text-white lg:block hover:underline">
      {{ _("Convocatoria de propuestas (CFP)") }}
    </a>
    <a href="{{ '/faq/'|url }}" class="hidden text-lg font-bold text-white lg:block hover:underline">
      {{ _("FAQ") }}
    </a>
    <a href="https://pretix.eu/python-spain/"
      class="hidden py-1 px-6 ml-auto text-lg font-bold text-center text-white bg-transparent rounded border-2 md:block hover:bg-white bg-primary hover:text-primary">
      {{ _("Entradas") }}
    </a>
    <a href="{{ '/menu'|url }}" data-hx-push-url="false">
      <img src="/static/images/ham-icon.svg" alt="Menu" />
    </a>
    <div>
      <form
        data-hx-target="body"
        data-hx-push-url="true"
        class="mx-auto"
      >
        <select class="text-white bg-transparent">
          <option
            data-hx-get="{{ '.'|url(alt='es') }}"
            data-hx-trigger="click"
            value="ES"
            {% if this.alt == 'es' %}selected{% endif %}
          >
            ES
          </option>
          <option
            data-hx-get="{{ '.'|url(alt='en') }}"
            data-hx-trigger="click"
            value="EN"
            {% if this.alt == 'en' %}selected{% endif %}
          >
            EN
          </option>
          <option
            data-hx-get="{{ '.'|url(alt='gl') }}"
            value="GAL"
            {% if this.alt == 'gl' %}selected{% endif %}
          >
            GAL
          </option>
        </select>
      </form>
    </div>
  </div>
</nav>
