{% from "macros/load_icon.html" import load_icon %}
{% from "macros/logo.html" import render_logo %}

<nav class="flex justify-center items-center py-4 mx-auto w-11/12 md:justify-around">
  <a href="{{ '/'|url }}" class="cursor-pointer">
    <figure>
      {{ render_logo('white') }}
    </figure>
  </a>

  <div class="flex gap-x-10 items-center">
    <a href="{{ '/cfp/'|url }}" class="hidden text-lg font-bold text-white xl:block hover:underline">
      {{ _("C4P") }}
    </a>
    <a href="{{ '/patrocinios/'|url }}" class="hidden text-lg font-bold text-white xl:block hover:underline">
      {{ _("Patrocinios") }}
    </a>
    <a href="{{ '/diversidad-becas/'|url }}" class="hidden text-lg font-bold text-white xl:block hover:underline">
      {{ _("Diversidad y becas") }}
    </a>
    <div class="hidden relative xl:block group/information max-w-fit">
      <button type="button" class="inline-flex gap-x-1 items-center text-lg font-bold leading-6 text-white peer" aria-expanded="false">
        <span>{{ _("Información") }}</span>
        {{ load_icon("icons/arrow-down.html") }}
      </button>
      <div class="absolute z-10 flex-col hidden w-screen *:px-8 *:py-1 -translate-x-1/2 bg-white rounded-lg gap-y-1 left-1/2 max-w-max peer-focus:flex hover:flex border-[1.5px] border-secondary">
          <a href="{{ '/viaje/'|url }}" class="text-lg font-semibold text-black hover:text-white hover:bg-secondary">
            {{ _("Viaje") }}
          </a>
          <a href="{{ '/ciudad/'|url }}" class="text-lg font-semibold text-black hover:text-white hover:bg-secondary">
            {{ _("Ciudad") }}
          </a>
          <a href="{{ '/lugar/'|url }}" class="text-lg font-semibold text-black hover:text-white hover:bg-secondary">
            {{ _("Lugar") }}
          </a>
          <a href="{{ '/faq/'|url }}" class="w-full text-lg font-semibold text-black hover:text-white hover:bg-secondary">
            {{ _("FAQ") }}
          </a>
      </div>
    </div>
    <a href="https://pretix.eu/python-spain/"
      class="hidden py-1 px-6 ml-auto text-lg font-bold text-center text-white bg-transparent rounded border-2 md:block hover:bg-white bg-primary hover:text-primary">
      {{ _("Entradas") }}
    </a>
    <a href="{{ '/menu'|url }}" data-hx-push-url="false" aria-label="{{ _("Abrir/cerrar menú") }}" class="xl:hidden">
      {{ load_icon('icons/ham-icon.html') }}
    </a>
    <div class="hidden relative xl:block group/information max-w-fit">
      <button type="button" class="inline-flex gap-x-1 items-center text-lg font-bold leading-6 text-white peer uppercase" aria-expanded="false">
        <span>
          {% if this.alt == 'gl' %}
            GAL 
          {% else %}
            {{this.alt}}
          {% endif %}
        </span>
        {{ load_icon("icons/arrow-down.html") }}
      </button>
      <div class="absolute z-10 flex-col hidden w-screen *:px-6 *:py-1 -translate-x-1/2 bg-white rounded-lg left-1/2 max-w-max peer-focus:flex hover:flex border-[1.5px] border-secondary">
          <a href="{{ '.'|url(alt='es') }}" class="text-lg font-semibold text-black hover:text-white hover:bg-secondary">
            {{ _("ES") }}
          </a>
          <a href="{{ '.'|url(alt='en') }}" class="text-lg font-semibold text-black hover:text-white hover:bg-secondary">
            {{ _("EN") }}
          </a>
          <a href="{{ '.'|url(alt='gl') }}" class="text-lg font-semibold text-black hover:text-white hover:bg-secondary">
            {{ _("GAL") }}
          </a>
      </div>
    </div>
  </div>
</nav>
