{% from "macros/logo_sponsors.html" import render_logo_sponsors %}

<section class="bg-[#F2F5F7] pt-20 p-4 pb-14">
    <h2 id="patrocinios" class="text-5xl text-center text-primary">
      <a href="#patrocinios">{{ _("Patrocinios") }}</a>
    </h2>
    <p class="mx-auto mt-6 w-10/12 text-lg text-center md:w-7/12">
      {{ _("Gracias a las empresas que colaboran con la PyConES podemos ofrecer "
      "el mejor evento y experiencia posible. Somos una conferencia con un bajo "
      "coste de entrada capaz de ofrecer una experiencia de 3 días incluyendo regalos, "
      "almuerzos, comidas y meriendas. Con la ayuda de estas empresas conseguimos hacer "
      "un evento diverso e inclusivo enfocado en cuidar la comunidad de Python.") }}
    </p>
    <div class="*:w-11/12 *:md:w-9/12">
      {% include "components/sponsors_logos.html" %}
    </div>
</section>
