{% from "macros/logo_sponsors.html" import render_logo_sponsors %}

<section class="bg-[#F2F5F7] pt-20 p-4 pb-14">
    <h2 class="text-5xl text-center text-primary"> {{ _("Patrocinios") }}</h2>
    <p class="mx-auto mt-6 w-10/12 text-lg text-center md:w-7/12">
      {{ _("Gracias a las empresas que colaboran con la PyConES podemos ofrecer "
      "el mejor evento y experiencia posible. Somos una conferencia con un bajo "
      "coste de entrada capaz de ofrecer una experiencia de 3 días incluyendo regalos, "
      "almuerzos, comidas y meriendas. Con la ayuda de estas empresas conseguimos hacer "
      "un evento diverso e inclusivo enfocado en cuidar la comunidad de Python.") }}
    </p>
    {{ render_logo_sponsors(
      _("Nivel"),
      "Cies",
      [],
      "/static/images/sponsors_logo/levels/cies.svg",
      )
    }}
    {{ render_logo_sponsors(
      _("Nivel"),
      "Ons",
      [],
      "/static/images/sponsors_logo/levels/ons.svg",
      )
    }}
    {{ render_logo_sponsors(
      _("Nivel"),
      "Sálvora",
      [],
      "/static/images/sponsors_logo/levels/salvora.svg",
      )
    }}
    {{ render_logo_sponsors(
      _("Nivel"),
      "Cortegada",
      [],
      "/static/images/sponsors_logo/levels/cortegada.svg"
      )
    }}
    {{ render_logo_sponsors(
      _("Comunidades"),
      _("Patrocinadoras"),
      [
        ("https://www.europython-society.org/", "/static/images/sponsors_logo/communities/logo_europython.png", "Logo Europython"),
        ("https://www.python.org/psf-landing/", "/static/images/sponsors_logo/communities/logo_psf.png", "Logo PSF"),
        ("https://es.python.org/", "/static/images/sponsors_logo/communities/logo_python_esp.png", "Logo Python España"),
      ]
      )
    }}
    {{ render_logo_sponsors(
      "",
      _("Colaboradores"),
      [
        ("https://www.python-vigo.es/", "/static/images/sponsors_logo/collaborators/python-vigo.png", "Logo Python Vigo"),
        ("https://aindustriosa.org/", "/static/images/sponsors_logo/collaborators/aindustriosa.jpg", "Logo A industriosa"),
      ],
      icon_size="w-16"
      )
    }}
</section>
