{% from "macros/logo_sponsors.html" import render_logo_sponsors %}

<section class="bg-[#F2F5F7] pt-20 p-4 pb-14">
    <h2 class="text-5xl text-center text-primary"> {{ _("Patrocinios") }}</h2>
    <p class="mx-auto mt-6 w-10/12 text-lg text-center md:w-7/12">
      {{ _("Gracias a las empresas que colaboran con la PyConES podemos ofrecer "
      "el mejor evento y experiencia posible. Somos una conferencia con un bajo "
      "coste de entrada capaz de ofrecer una experiencia de 3 días incluyendo regalos, "
      "almuerzos, comidas y meriendas. Con la ayuda de estas empresas conseguimos hacer "
      "un evento diverso e inclusivo enfocado en cuidar la comunidad de Python.") }}
    </p>
    {{ render_logo_sponsors(
      _("Nivel"),
      "Cies",
      [
        (
          "https://www.nagarro.com/en",
          "/static/images/sponsors_logo/cies/nagarro.webp",
          "/static/images/sponsors_logo/cies/nagarro.png",
          "Logo Nagarro",
          "w-60"
        ),
      ],
      "/static/images/sponsors_logo/levels/cies.svg",
      )
    }}
    {{ render_logo_sponsors(
      _("Nivel"),
      "Ons",
      [
        (
          "https://skydance.com/",
          "/static/images/sponsors_logo/ons/sam-logo.webp",
          "/static/images/sponsors_logo/ons/sam-logo.jpg",
          "Logo Skydance",
          "w-64"
        ),
        (
          "https://lareira.digital/",
          "/static/images/sponsors_logo/ons/lareira-digital-logo.webp",
          "/static/images/sponsors_logo/ons/lareira-digital-logo.png",
          "Logo Lareira digital",
          "w-40"
        ),
        (
          "https://research.ibm.com/",
          "",
          "/static/images/sponsors_logo/ons/logo-ibm.svg",
          "Logo IBM",
          "w-40"
        ),
        (
          "https://www.travelperk.com/es/",
          "",
          "/static/images/sponsors_logo/ons/travelperk-logo.svg",
          "Logo Travelperk",
          "w-64"
        ),
      ],
      "/static/images/sponsors_logo/levels/ons.svg",
      )
    }}
    {{ render_logo_sponsors(
      _("Nivel"),
      "Sálvora",
      [
        (
          "https://www.kairosds.com/",
          "/static/images/sponsors_logo/salvora/logo_kairos.webp",
          "/static/images/sponsors_logo/salvora/logo_kairos.png",
          "Logo Kairos DS",
          "w-52"
        ),
        (
          "https://feverup.com/es",
          "/static/images/sponsors_logo/salvora/logo_fever.avif",
          "/static/images/sponsors_logo/salvora/logo_fever.png",
          "Logo Fever",
          "w-36"
        ),
      ],
      "/static/images/sponsors_logo/levels/salvora.svg",
      )
    }}
    {{ render_logo_sponsors(
      _("Nivel"),
      "Cortegada",
      [
        (
          "https://gisce.net/es/",
          "",
          "/static/images/sponsors_logo/cortegada/logo_gisce.svg",
          "Logo Gisce",
          "w-28"
        ),
        (
          "https://www.somenergia.coop/es/",
          "/static/images/sponsors_logo/cortegada/logo_somenergia.avif",
          "/static/images/sponsors_logo/cortegada/logo_somenergia.png",
          "Logo SOM ENERGIA",
          "w-28"
        ),
        (
          "https://kaleidos.net/",
          "",
          "/static/images/sponsors_logo/cortegada/logo_kaleidos.svg",
          "Logo Kaleidos",
          "w-32"
        )
      ],
      "/static/images/sponsors_logo/levels/cortegada.svg",
      lg_grid_cols="xl:grid-cols-6",
      )
    }}
    {{ render_logo_sponsors(
      "",
      _("Colaboradores"),
      [
        (
          "https://www.aitire.cloud/",
          "/static/images/sponsors_logo/collaborators/aitire-logo.webp",
          "/static/images/sponsors_logo/collaborators/aitire-logo.png",
          "Logo Aitire",
          "w-36"
        ),
        (
          "https://aindustriosa.org/",
          "",
          "/static/images/sponsors_logo/collaborators/logo-industriosa.svg",
          "Logo A Industriosa",
          "w-16"
        ),
      ],
      lg_grid_cols="lg:grid-cols-3 xl:grid-cols-5 2xl:grid-cols-6",
      )
    }}
    {{ render_logo_sponsors(
      "",
      _("Organizadores"),
      [
        (
          "https://www.python-vigo.es/",
          "/static/images/sponsors_logo/organizer/python-vigo.webp",
          "/static/images/sponsors_logo/organizer/python-vigo.png",
          "Logo Python Vigo",
          "w-36"
        ),
        (
          "https://es.python.org/",
          "/static/images/sponsors_logo/organizer/logo-pythonES.webp",
          "/static/images/sponsors_logo/organizer/logo-pythonES.png",
          "Logo Python España",
          "w-28"
        ),
      ],
      lg_grid_cols="lg:grid-cols-3 xl:grid-cols-5 2xl:grid-cols-6",
      )
    }}
</section>
