{% extends "layouts/layout_detail.html" %}

{% block content %}
<div class="w-10/12 grid-cols-5 mx-auto">
    <h1 class="mb-12 text-5xl text-primary">{{ _("Ediciones anteriores") }}</h1>
    <section class="grid grid-cols-1 gap-5 justify-items-center md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5">
        <a
          href="https://2023.es.pycon.org/"
          target="_blank"
          class="max-w-sm px-5 overflow-hidden bg-white rounded shadow-lg group w-60"
        >
           <img class="w-full group-hover:opacity-85 bg-[#6c36a9] mt-5 mb-10" src="https://2023.es.pycon.org/theme/assets/logo/logo-white.svg" alt="PyConES 2023">
           <div class="px-6 py-4">
            <div class="mb-2 text-xl font-bold group-hover:text-primary">PyConES 2023</div>
            <p class="text-base text-gray-700">
                Tenerife
            </p>
            </div>
        </a>
        {% for edition in this.children %}
          <a
            href="https://{{ edition.year }}.es.pycon.org/"
            target="_blank"
            class="max-w-sm px-5 overflow-hidden bg-white rounded shadow-lg group w-60"
          >
              <img class="w-full group-hover:opacity-85" src="https://2023.es.pycon.org/theme/assets/images/past_editions/{{ edition.year }}.{{ edition.type_image }}" alt="PyConES {{ edition.year }}">
              <div class="px-6 py-4">
                  <div class="mb-2 text-xl font-bold group-hover:text-primary">PyConES {{ edition.year }}</div>
                  <p class="text-base text-gray-700">
                      {{ edition.city }}
                  </p>
              </div>
          </a>
        {% endfor %}
    </section>
</div>
{% endblock %}
